.bg 
{
  width: 800px
    height: 800px}
.links{
  color:black}

.is-italics{
  font-style:italic;
}

.is-bold{
  fond-style:italic;
}

img.Opener {
  width: 100;
  height: auto;
}
