img.Opener {
  width: 25;
}

body {
  font-family: Garamond;
}

body {
  background: #ffffff url("") repeat right center fixed;
}

.button {
  max-width: 360px;
  border: 1px solid black;
  display: inline-block;
  word-wrap: break-word;
  word-break: break-word;
}
